@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6">
            <div class="card">
                <div class="card-header">
                    <p class="card-text">
                        <div class="status-container">
                            <p class="card-text">
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white status-badge">AVAILABLE</span>
                                }
                                else if (DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white status-badge">EXPIRED</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white status-badge">UPCOMING</span>
                                }
                            </p>
                        </div>
                        <h5 class="card-title">
                            @item.Name
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                            }
                        </h5>
                    <p class="card-text">
                            @item.Price.ToString("c", new System.Globalization.CultureInfo("fr-TN"))
                    </p>
                    </p>
                </div>

                <div class="card-body">
                    <img src="@item.ImageURL" width="100%" alt="@item.Name">
                </div>

                <div class="card-footer">
                    <p class="card-text">
                        <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                            <i class="bi bi-eye-fill"></i> More Info
                        </a>
                        <a class="btn btn-success text-white @((DateTime.Now > item.EndDate) ? "disabled" : "")"
                           asp-controller="Orders"
                           asp-action="AddItemToShoppingCart"
                           asp-route-id="@item.Id">
                            >
                            <i class="bi bi-cart-plus"></i> Book Ticket
                        </a>
                    </p>
                </div>
            </div>
        </div>
    
    }

</div>

@await Html.PartialAsync("_CreateItem", "Movies")
<style>
    body {
        background-image: url('@Url.Content("~/background.png")');
        margin: 0; /* Reset margin to ensure the body takes the full viewport */
    }

    .card {
        border: none;
        border-radius: 15px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff; /* Add a background color to the card */
    }

    .card-header {
        background-color: #f8f9fa;
        color: darkblue;
        border-radius: 15px 15px 0 0;
        text-align: center;
        padding: 10px; /* Add padding to the card header */
    }

    .card-title {
        font-family: 'Arial Rounded MT', sans-serif;
        margin: 0;
    }

    .status-container {
        text-align: center;
    }

    .status-badge {
        font-size: 15px;
    }

    img {
        border-radius: 15px 15px 0 0;
        max-height: 200px;
        object-fit: contain;
    }

    .card-body {
        background-color: #f8f9fa; /* Add a background color to the card body */
        padding: 10px;
        position: relative;
    }

    .btn-outline-primary {
        color: #2b6eb3;
        border-color: #2b6eb3;
    }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }
</style>


